.navbar {
    background-color: #539ecd9e;
    color: #ffffff;
    border-bottom: 2px solid #6d6e72;
}

.navbar-brand {
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
    font-size: 2.7rem;
    font-family: 'Space Mono', monospace;
}

body {
    background-image: url(../images/clouds.gif);
    background-size: 100%;
    /* background-color: #235d7d; */
}

button, form, input {
    margin: 6px;
    font-family: 'Space Mono', monospace;
}

button {
    margin-top: 20px;
    margin-left: 20px;
}

label {
    color: #595959;
    font-size: 1.5rem;
}

#gif-input {
    width: 15rem;
}

.gifs {
    margin: 10px;
}

.gif-img{
    width: 275px;
    height: 250px;
    border: 2px solid #539ecdbf;
    border-radius: 2%;
}

