.navbar {
    background-color: #050505;
    color: #e0e0e0;
    border-bottom: 2px solid #6d6e72;
}

.navbar-brand {
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    font-size: 2.5rem;
    font-family: 'Space Mono', monospace;
}

body {
    background-color: #235d7d;
}

button, form, input {
    margin: 6px;
    font-family: 'Space Mono', monospace;
}

button {
    margin-top: 20px;
    margin-left: 20px;
}

label {
    color: #f2f1f1;
    font-size: 1.5rem;
}

#gif-input {
    width: 15rem;
}

.gifs {
    margin: 10px;
}

.gif-img{
    width: 275px;
    height: 250px;
    border: 2px solid #050505;
    border-radius: 2%;
}

